@media screen and (min-width: 1024px) {
  :root {
    --title-font-size: 3.6rem;
    --subtitle-font-size: 1.8rem;
  }

  #header.scroll .menu {
    background-color: initial;
  }
  
  .container {
    width: min(97rem, 100%);
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: calc(16rem + var(--nav-height))  0;
  }

  .section header {
    max-width: 52.3rem;
    text-align: center;
    margin: 0 auto;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;

    background: initial;
  }

  nav .menu ul {
    display: flex;
    gap: 3.2rem;
  }

  nav .menu li a.title {
    font-weight: 400;
    font-size: 1.6rem;
  }

  nav .menu li a.title.active {
    font-weight: bold;
  }

  nav .icon-menu {
    display: none;
  }

  #home .container {
    grid-auto-flow: column;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    text-align: left;

    margin-left: 0;
    max-width: 39.6rem;
  }

  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  #about .image {
    height: 25.4rem;
  }

  #services .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #testimonials .container,
  #testimonials header{
    margin-right: auto;
    margin-left: auto;
  }

  #contact .container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 40.4rem;
  }

  footer.section {
    padding: 6rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width:768px){

  .section {
    padding: calc(16rem + var(--nav-height)) 0;
  }

  #home .image,
  #about .image {
    display: flex;
    justify-content: center;
  }

  #home .image::before {
    width: 75%;
  }

  #home .image img,
  #about .image img {
    width: 70%;
  }

  #about .image::before {
    width: 75%;

  }

  #services .cards,
  #testimonials .swiper {
    margin-inline: 5rem;
  }

  #testimonials .container {
    margin-inline: 2.4rem;
  }

  #testimonials header h2{
    text-align: center;
  }

  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  footer  .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }
}

