/****** RESET ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}


/****** VARIABLES ******/
:root {
  --hue: 159;
  --primary-color: hsl(var(--hue), 36%, 57%);
  --second-color: hsl(var(--hue), 65%, 88%);
  --hover-color: hsl(var(--hue), 57%, 53%);
  --dark-color: hsl(var(--hue), 41%, 10%);
  --text-color: hsl(0, 0%, 46%);
  --bg-color: hsl(0, 0%, 98%);
  --line-color: hsl(0, 0%, 89%);

  --font: "Poppins", sans-serif;

  --nav-height: 7.2rem;

  font-size: 62.5%; /*1rem = 10px*/
}


/****** BASE ******/
body {
  font: 400 1.6rem "DM Sans", sans-serif;

  background-color: var(--bg-color);
  color: var(--text-color);

  -webkit-font-smoothing: antialiased;
}

.title {
  font: 700 3.0rem var(--font);
  color: var(--dark-color);
  -webkit-font-smoothing: auto;

  line-height: 4.5rem;
}

p {
  line-height: 2.6rem;
}

.button {
  background-color: var(--primary-color);
  color: var(--bg-color);

  display: inline-flex;
  align-items: center;

  height: 5.6rem;
  padding: 0 3.2rem;

  border-radius: .4rem;
  font-weight: 500;

  transition: 300ms;
}

.button:hover {
  background-color: var(--hover-color);
}

.line-one {
  height: 1px;
  background: linear-gradient(270deg, 
  var(--primary-color) 0%, 
  rgba(204, 244, 230, 0.34) 100%);
}

.container {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.grid {
  display: grid;
  gap: 3.2rem;
}

.section {
  padding: 8rem 0;
}



/****** LAYOUT ******/
#header {
  border-bottom: 1px solid var(--line-color);

  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  background-color: var(--bg-color);
}

main {
  margin-top: calc(var(--nav-height) + 3.2rem);
}


/****** NAVIGATION ******/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--nav-height);
}

nav ul li{
  text-align: center;
}

nav ul li a {
  transition: color 300ms;
  position: relative;
}

nav ul li a:hover {
  color: var(--primary-color)
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;

  background-color: var(--primary-color);

  position: absolute;
  bottom: -2.4rem;
  left: 0;

  transition: width 600ms;
}

nav ul li a:hover::after {
  width: 100%;
}


.logo {
  font: 700 2.1rem var(--font);
  color: var(--dark-color);
  text-transform: lowercase;
}

.logo span {
  color: var(--primary-color);
}


/****** MENU ******/
nav .menu {
  opacity: 0;
  visibility: hidden;
}

/****** SHOW MENU ******/
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background-color: var(--bg-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
}

nav.show .menu {
  display: grid;
  place-content: center;
}

nav.show ul.grid{
  gap: 6.4rem;
}


/****** HOME ******/
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--second-color);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;

  border-radius: .4rem;
}

#home .image img {
  position: relative;
  right: 4.7rem;
}

#home .text {
  margin-left: 2.4rem;
  margin-right: 2.4rem;

  text-align: center;
}

#home .text h1 {
  margin-bottom: 1.6rem;
}

#home .text p {
  margin-bottom: 3.2rem;
}